/*========style for body/global======= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container{
    width: 1000px;
    max-width: 85%;
    margin: 0 auto;
   
}
body{
    font-family: 'Roboto', sans-serif;
    background:url("images/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    font-weight: 600;
}

.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}

/* =====style for navigation bar===== */
nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
   
}

nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
    font-size: 15px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    
}
nav ul li a:hover, a.active{
    background-color: #3352F2;
    border-radius: 5px;
    color: #fff;
}


/* =====style for ticket booking section====== */
.booking-form{
    margin: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px 25px;
    border-radius: 5px;
    float: left;
}
.form{
    font-size: 14px;
}
.booking-form h4{
    
    margin: 5px 0px;
    text-align: center;
}


.ticket-area{
    font-size: 14px;
  
}
.ticket-form{
    font-size: 15px;
    margin-top: 20px;
}
.return{
    margin-left: 5px;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*=====number spinner off section (for Chrome, Safari, Edge, Opera)==== */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* ===ticket input area & plus minus section */

.plus-minus-btn{
     
    margin-top: 40px;
    word-spacing: 10px;
}
.plus-minus-btn button{
    font-size: 18px;
    
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin: 0;
}
.inp-style{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
  
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 14px;
}


.booking-content{
    color: #fff;
    width: 100%;
    
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    margin-bottom: 50px;
}
/* ===booking button==== */
.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:  #3352F2;
}
.amount{
    display: flex;
    justify-content: space-between;
}
