

#food-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.food-name{
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    text-align: center;
}

#food-image img{
    width: 300px;
    border-radius: 10px;
}

#food-details{
    
    margin: 10px;
}
.food-name img{
    width: 250px;
    
    border-radius: 10px;
   
}

#subscribe {
    
    padding: 50px 0;
    
}
.custom-button{
    text-align: center;
   
    
}

.custom-button p{
    font-weight: 700;
}
.subscribe-icon{
    width: 50px;
}
.subscribe-button{
   border: 0;
   margin: 0 0 0 10px;
   border-radius: 5px;
   padding: 10px 25px;
   background-color:   #000855;
   color: white;
}
input[type='text']{
    background-color:lightgrey;
}
  
span{
    cursor: pointer;
}