body{
    margin: 0;
    padding: 0;
    
}

#food-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.food-name{
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    text-align: center;
}

#food-image img{
    width: 350px;
    border-radius: 10px;
}

#food-details{
    margin-left: 5%;
}
.food-name img{
    width: 250px;
    
    border-radius: 10px;
   
}

.item-with-details{
    display: flex;
    justify-content: inherit;
}



.search-button{
   border: 0;
   margin: 0 0 0 10px;
   border-radius: 5px;
   padding: 10px 25px;
   background-color:   #000855;
   color: white;
}
input[type='text']{
    background-color:lightgrey;
}
  
span{
    cursor: pointer;
}